<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://jinxiu5161.github.io/WeRead.ipa</string>
		<key>displayImageURL</key>
		<string>https://jinxiu5161.github.io/icon58*58.png</string>
		<key>fullSizeImageURL</key>
		<string>https://jinxiu5161.github.io/icon512*512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.we.bottle</key>
		<string>Dev_bottle</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>UJ5K6Z43Z4</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
